body{

	font-family: 'Oswald', sans-serif;
	background-color: #EEEDED;
}
a{
	color: #2388c9;
}
a:hover{
	color: #2388c9;
}
.navbar-brand img{
	margin-top: -5px;
}

.navbar-brand *{
	color: white;
}
.jumbotron{
	height: 200px;
	overflow: hidden;
}
.jumbotron #details{
	position: absolute;
	color: white;
}

.jumbotron img{
	width: 100%;
}
.jumbotron span{
	color: #2388c9;
}
footer{
	background: black;
	height: 50px;
	line-height: 50px;
	color: white;
	letter-spacing: 1px;
}
.popular{
	background: white;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #E3E3E3;
}
.popular img{
	width: 100%;
	margin-top: 12px;
}
section .widgets{
	margin-bottom: 20px;
}

.popular .details {
	margin-left: -20px;
}
.popular .details p{
	font-family: arial;
	font-size: 11px;
}
.popular ul li{
	list-style: none;
}
.social{
		background:white;
		padding: 20px;
		border-radius: 10px;
		border: 1px solid #E3E3E3;
}

.post{
	background: white;
	border: 1px solid #E3E3E3;
	margin: 15px 0px;
}

.post .post-date{
	padding: 10px 10px 20px 10px;
	text-align: center;
	
}
.post .post-date .day{
	font-size: 30px;
	color: #2388c9;
}
.post .post-date .year{
	font-weight: 100;
}
.post .post-title{
	padding: -5px 20px 25px 20px;
	border-left: 1px solid #E3E3E3;
}
.post .post-title span{
	color:  #2388c9;
	font-weight: 100;
	margin-left: 10px;
}
.post .profile-picture img{
 width: 100%;
 height: auto;
}
.post .profile-picture{
	padding: 25px;
}

.post a img{
	width: 100%;
	margin-top: 2px;
}
 .post .description{
	font-family: arial;
	font-weight: 100%;
	padding: 15px;
	line-height: 20px;
}
.post a.btn{
	margin-left: 15px;
	margin-bottom: 20px;
}
.post .bottom{
	padding: 10px 20px;
	border-top: 1px solid #E3E3E3;
	color: #C6C6C6;
}
.post .bottom .first{
	margin-right: 20px;
}
.post .bottom .second{
	margin-left: 20px;
}
nav#pagination{
	text-align: center;
}
.pagination li a{
	color: #2388c9;
	padding: 15px 25px;
	font-size: 18px;
}


.contact-form{
	background: white;
	padding: 50px 25px;
}
.contact-form h2{
	color: #2287c8;
}
.contact-form textarea{
	resize: none;
}

.related-posts{
	background: white;
	padding:20px;
	margin-bottom: 15px;
}
.related-posts img{
	width: 100%;
}
.related-posts h3{
	color: #2287c8;
}
.author{
	background: white;
	padding: 20px;
	margin-bottom: 15px;
}
.author img{
	width: 100%;
	height: auto;
}
.author h4{
	color: #2287c8;
	text-decoration: underline;
}
.author p{
	font-weight: 100;
}
.comment{
	background: white;
	padding: 20px;
	margin-bottom: 15px;
}
.comment h3{
	color: #2287c8;
}

.comment img {
	width: 100%
}
.comment h4{
	color: #2287c8;
}
.comment p{
	font-weight: 100;
}


.comment .single-comment{
	margin-bottom: 10px;
}

.comment-box{
	margin-bottom: 15px;
	padding: 20px;
	background: white;
}
.comment-box textarea{
	resize: none;
}













@media (max-width: 992px){
	
	.post .profile-picture img{
		width: 20%;
	}
	.post .profile-picture{
		text-align: center;
		margin-top: -40px;
	}
	.post .post-title{
		border-left: none;
		text-align: center;
	}


}

@media (max-width: 786px){
	}
	.jumbotron #details{
		margin-top: 20px;
	}
	.post .post-title{
		
		text-align: center;
		border: none;
	}
	.post .profile-picture img{
	
		padding-top: 15px;
		padding-right: 10px;
	}
	.post .profile-picture{
		text-align: center;
	}
	.pagination li a{
		font-size: 13px;
		padding: 10px 12px;
	}
	footer{
		font-size: 9px;
		letter-spacing: 0px;
	}
	.navbar-inverse .navbar-nav>li>a {
		text-align: center;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
		text-align: center;
	}
	.author{
	background: white;
	padding: 20px;
	margin-bottom: 15px;
	text-align: center;
	}
	.author img{
		width: 25%;
	}
	.author h4{
		color: #2287c8;
		text-decoration: underline;
	}
	.author p{
		font-weight: 100;
	}
	.comment{
	background: white;
	padding: 20px;
	margin-bottom: 15px;
}
.comment h3{
	color: #2287c8;
}

.comment img {
	width: 30%
}
.comment h4{
	color: #2287c8;
}
.comment p{
	font-weight: 100;
}


.comment .single-comment{
	margin-bottom: 10px;
	text-align: center;
}


}

